// eva-mode
$deep-green: #89a165;
$mid-green: #90b853;
$main-green: #98d041;
$main-purple: #662cc0;
$deep-purple: #6d43ad;
$mid-purple: #745a9b;
$light-purple: #7b7289;
$blue: #2c86c0;
$red: #c02c86;
$orange: #c0662c;
$green: #2cc066;

